body {
	display: block;
	padding: 64px 15%;
}

.header {
	display: flex;
	justify-content: space-between;
	height: 64px;
	margin-bottom: 16px;
}

.header > .title > .icon {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin-right: 24px;
}

.header > .title > .text {
	display: inline-block;
	line-height: 64px;
	vertical-align: top;
	height: 64px;
	font-size: xx-large;
	font-weight: bold;
}

.header > .link {
	height: 64px;
}

.header > .link > a {
	width: 64px;
	height: 100%;
	line-height: 64px;
	padding: 16px;
}

.header > .link > a > object {
	width: 32px;
	height: 32px;
	line-height: 48px;
	vertical-align: middle;
	border-radius: 16px;
}

.ghicon {
	fill: white;
	transition: all 0.2s ease;
}

.ghicon:hover {
	fill: #9ECAFF;
	transition: all 0.2s ease;
}

.ghiconbg:hover + .ghicon {
	fill: #9ECAFF;
	transition: all 0.2s ease;
}

.image {
	display: block;
	position: relative;
	width: 100%;
	height: 256px;
	overflow: hidden;
	border-radius: 8px;
	margin-bottom: 16px;
}

.image .headpicture {
	height: 256px;
	line-height: 256px;
	text-align: center;
}

.image .background {
	display: block;
}

.image .foreground {
	display: inline-block;
	position: relative;
	height: 192px;
	width: auto;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}

.headpicture img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.experiments > span.title {
	font-size: x-large;
	font-weight: bold;
}

.experiments > ul > li {
	display: block;
	margin-bottom: 2px;
}

.experiments > ul > li a {
	display: flex;
	transition: all 0.2s ease;
	background-color: #212529;
	border-radius: 4px;
	width: 100%;
	height: 128px;
	padding: 16px 40px;
}

.experiments > ul > li a:hover {
	transition: all 0.2s ease;
	background-color: #FFFFFF1F;
	border-radius: 24px;
}

.experiments > ul > li:first-child a {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.experiments > ul > li:first-child a:hover {
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
}

.experiments > ul > li:last-child a {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.experiments > ul > li:last-child a:hover {
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
}

.experiments > ul > li a > .icon {
	width: 64px;
	height: 96px;
	margin-right: 24px;
	padding: 16px 0px;
}

.experiments > ul > li a > .text {
	display: block;
	line-height: 48px;
}

.experiments .title {
	display: block;
	line-height: 48px;
	height: 48px;
	font-size: large;
}

.experiments .description {
	display: block;
	line-height: 48px;
	height: 48px;
	font-size: normal;
	color: #FFFFFFBF;
}
